:host {
  display: block;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding: 0 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
